
body{
    margin: 0;
    
}
.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
   
}
.left{
    background-image: url(images/robin-schreiner-YKE4zTW5lic-unsp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 35vw;
    color: black;
}

.right{
    background-color: #5a827a;
    display: flex;
    flex-direction: column;
    width: 65vw;


}
.message{
    height: 35vh;
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
    margin-bottom: 5px;
    align-items: flex-end;
}
.form{
    background-color: rgb(255, 253, 253);
    height: 30vh;
    padding-left: 5%;
}
.account{
    height: 35vh;
}

form{
    
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: .8rem;
    line-height: 1.5rem;
    
    
}
.col1{
    display: flex;
    flex-direction: column;
    float: left;
    
}
.col2{
    display: flex;
    flex-direction: column;
    float: right;
    
}
input{
    width: 200px;
    border-radius: 4px;
}

   